body{
    background: url("../images/we1.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.container{
    background-color: teal;
    border: burlywood;
    border-radius: 15px;
    background-blend-mode: lighten;
    width: 550px;
    height: 200px;
    align-self: center;
    align-content: center;
    align-items:center;
    margin-left: 650px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: 20px;
    margin-top: 200px;
    padding: 10px;
     box-shadow: 0px 0px 10px 10px darkgrey;
}
.label{
    margin-top: 0px;
    padding-top: 20px;
    color: white;
}
.inp{
    border-radius: 30px;
    border: 2px;
    border-color: aquamarine;
    border-style: solid;
    width: 300px;
    height: 30px;
}
.btn{
    background-color: bisque;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border-style: groove;
    border-width: .5px;
    box-shadow: 0px 0px 5px 5px paleturquoise;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form{
    padding-bottom: 30px;
}